body{
    background: black;
}
.container{
    width: 75px;
    height: 275px;
    transform-origin: top center;
    position: absolute;
    top: 0;
    left: calc(50% - (75px/2));
    animation: bulb-swing 3s infinite ease-in-out;
}
.bulb{
    z-index: 10;
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: calc(50% - (75px/2));
    border: 1px solid black;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.bulb::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 50px;
    
}